@mixin nullMPB {

    *,
    *::before,
    *::after {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
}

@mixin dflex($flexDirection, $jc, $ac) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $jc;
    align-items: $ac;
}